.body{
  color: white;
  background: #F3F2F3;
}
.ui.container{
  width: 1100px !important;
}
h1{
  text-align: center;
  color: #442470;
  font-weight: bold;
  font-size: 50px !important;
}
h5{
  color: #2B263C;
  text-align: center;
  font-weight: bold;
}
img{
  border: none;
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}
.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  top: 8px;
  right: 16px;
}
button{
  color: white;
  background-color: #442470;
  float: left;

}
button:hover{
  background-color: #7E7BBC;
}
#panda{
  font-size: 45px;
}
#ui special cards{
  text-align: center;
}
#name{
  font-weight: bold
}
.a{
  color: #2B263C;
  font-weight: bold;
  font-size: 15px;
}
i.icon.paw:before{
  font-size: 20px;
}
header{
  font-size: 30px;
}
#search{
  display: flex;
  justify-content: space-between;
}
.ui[class*="very relaxed"].grid>.column:not(.row){
    padding-left: 9rem;
    padding-right: 2.5rem;
}
div#animal-container.column{
  padding-left: 8rem;
}
div#adopted-animal-container.column{
  padding-left: 8rem;
}
.ui.card>.content a:not(.ui){
  font-size: 23px;
  color: #311B92;
  font-weight: bold;
}
.button{
  padding:7px 10px;
  background:#442470;
  color: white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
span{
  font-style: oblique;
}
.ui.inverted.menu{
  background-color: #442470 !important;
}
.ui.secondary.button{
  background-color: #99508A !important;
}
