.body{
  color: white;
}
h1{
  text-align: center;
  background-color: #311B92;
  color: white;
}
h5{
  color: #311B92;
  text-align: center;
  font-weight: bold;
}
img{
  border: none;
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}
button{
  color: white;
  background-color: #311B92;
  float: left;
}
#panda{
  font-size: 45px;
}
#ui special cards{
  text-align: center;
}
#name{
  font-weight: bold
}
.a{
  color: #311B92;
  font-weight: bold;
  font-size: 15px;
}
i.icon.paw:before{
  font-size: 20px;
}
header{
  font-size: 30px;
}
#search{
  display: flex;
  justify-content: space-between;
}
.ui[class*="very relaxed"].grid>.column:not(.row){
    padding-left: 9rem;
    padding-right: 2.5rem;
}
div#animal-container.column{
  padding-left: 8rem;
}
.hide {
  visibility: hidden;
}
.show{
  position: center;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
input[type=submit] {
    padding:11px 15px;
    background:#311B92;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.ui.card>.content a:not(.ui){
  font-size: 20px;
  color: #311B92;
  font-weight: bold;
}
.button{
  padding:7px 10px;
  background:#311B92;
  color: white;
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
div.field{
  padding:7px 10px;
}
